<% unless resource.favicon_url.nil? %>
<%= image_tag resource.favicon_url %>
<% end %>
<%= link_to resource.title, resource.url %>
<p>
  <%= resource.description %>
</p>
<p>
  <%= resource.created_at %>
</p>
<% if resource.description.empty? %>

<% else %>
<p>
  <%= resource.description %>
</p>
<% end %>
<p>
  Resource saved by: <%= resource.user.email %>
</p>
 <%= cl_image_tag current_user.photo.url(:square_crop), class: "avatar-large" %>